*{
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
.cleafix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    max-width: 1200px;
    margin: 0  auto;
}
@media screen and (max-width: 992px) {
    .menu a {
        float: none;
        width: 100%;
    }
    .line{
        width: 75%;
    }
    
    .fotos img{
        float: none;
        margin-right: 0px;
    }
    .colunas{
        float: none;
    }
    .footerimg{
        float: none;
    }
    .copyright{
        float: none;
    }
}
@media screen and (max-width:600px){
    .colunas{
        float: none;
    }
    .line{
        width: 25%;
    }
    .fotos img{
        float: none;
        margin-right: 0px;
    }
    
    .footer{
        float: none;
    }
    .footerimg{
        float: none;
    }
    .copyright{
        float: none;
    }
}
.line{
    width: 100%;
}

/*Header*/
.header{
    height: auto;
    background-image: url(images/fundo.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0 auto;

}
.title{
    font-size: 25px;
    padding: 30px;
    color: rgb(71, 70, 70);
    padding-bottom: 290px;
    font-weight: bold;
}
.menu{
    overflow: hidden;
    margin:0 auto;
}
.menu a{
    float: left;
    list-style: none;
    font-weight: bold;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    color: rgb(71, 70, 70);
    text-align: center;
}
.menu ul{
    list-style: none;
}
.menu li{
    display: inline-block;
}

.who{
    background-color: white;
    color: black;
    text-align: center;
    width: 50%;
    margin: 0 auto;

}
/*Sobre*/
.who{
    text-align: center;
    height: 0 auto;
    margin:0 auto;
    padding: 70px 0px;
}
.who h2{
    font-size: 30px;
}
.who p{
    font-size: 15px;
    margin: 10px 10px;
}
.who a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.linha{
    display: block;
    width: 80%;

}
/*Produtos*/
.produtos{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
}
.fotos{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.foto{
    display: inline-block;
    margin-right: 5px;
    padding: 10px 40px;
    float: left;
}
.foto img{
    width: 300px;
    height: 300px;
    
}
.foto p{
    text-align: center;
}
.botao{
    background-color: white;
    color: gray;
    border: 1px  solid gray;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
.botao:hover{
    background-color: gray;
    border: 1px solid white;
    color: white;
}
/*Contato*/
.contato{
    width: 100%;
}
.newsletter{
    text-align: center;
    font-size: 13px;
    color: gray;
    margin-top: 100px;
}
form{
    text-align: center;
    height: auto;
    margin-bottom:150px;
}
#email{
    width: 50%;
    padding: 12px 20px;
    border: 1px gray solid;
    font-size: 15px;
}
#button{
    color: gray;
    border: 1px  solid gray;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
#button:hover{
    background-color: gray;
    border: 1px solid white;
    color: white;
}
/*Info*/
.colunas{
    background-color: rgb(151, 151, 151);
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: white;
}
.rede{
    float: left;
    padding: 70px;
    margin:0px 20px;
}
.topic{
    float: left;
    padding:70px;
    padding-left:500px ;
}
.info{
    float: left;
    padding:70px;
    padding-left: 20px;

}
/*Footer*/
.footer{
    background-color: rgb(151, 151, 151);
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: white;
}
.footerimg{
    float: left;
    padding: 20px;
}
.copyright{
    float: right;
    padding: 20px;
}
